.img{
    text-align: center;
}
.text{
    margin-top: 80px;
    text-align: center;
}
.text1{
    text-align: center;
    height: 200px;
    width: 400px;
    
    
}
@media only screen and (min-width: 768px){
    
    .first{
        margin-top: 300px;
    }
    
}
@media only screen and (max-width: 767px){
    .text{
        text-align: center;
        margin-left: 0;
    }
    .sec{
        
        margin-left: 0;
        margin-bottom: 50px;
    }
    .ites{
        margin-bottom: 200px;
    }
}